API_ID=34708578
API_HASH=d532e5b947d462f858077d614f31f22b
BOT_TOKEN=8657759526:AAFiwLIhsR2Sm7v6ReOimq1q7g0Hg-g3CZ0
LOGGER_ID=-1002734717816
MONGO_DB_URI=mongodb+srv://Jani_Sanatani_Power:RamRP@jani.elxnxrd.mongodb.net/?appName=Jani
OWNER_ID=8092368726
STRING_SESSION=BQIRnGIAD05GnpYhKFe5OkSxaxUP4kQhcfBCpbkRv_JyLgm73QSxVXqBndBiU7xZHDQFhPmlawWuTJ8a4Kv48V7_6pH9cxMy0J4QeLquBTJgGTuX3uAZCKEx2IkXUUCw7Tzh2ccFe-6rkkpNJJSWVGOeQHsuYJVBfj9ZCcXUnFTQyWzdHrxdFQiOMTQ2PkLkJwUjxYGlna4MhumeDCK4mGsRCMeYg0H7GF967w-bNmTofAQAN7wLYPZZZMZwhwxBFVQbFOtsj-wfMZakJDrkHDkdKx05dP-C_Dla5bt5oS8-xuOReO9cQufu91dq8Ns_spp_XAWn1BtoYoEmSevOt3oIZN_M2QAAAAIEoOZCAA
